@{
    ViewData["Title"] = "Lista";
}

@model List<Post>

<section class="blog-contaiener">
    
    <h1 class="">Lista de filmes:</h1>

        @foreach (var post in Model)
        {
            <div class="post-container">
                <h2 class="">@post.Title</h2>
                <span class="disclaimer">@post.Category</span>
                <p class="">@post.Resume</p>
                <div class="blog-button-options flex-row-right">                    
                    <a class="flex-row" href="/Post/ToView/@post.Id">Editar</a>
                    <a class="flex-row" href="/Post/DeletePost/@post.Id">Remover</a>
                    <a class="flex-row" href="/Post/StatusPost/@post.Id">Publicar</a>
                </div>
                <div>
                    <label>Publicado:</label>
                    @if (post.Publicated == true)
                    { 
                        @Html.Raw(string.Format("{0:dd/MM/yyyy}", post.PublicationDate))
                    }
                    else
                    {
                        @Html.Raw("Não")
                    }
                </div>
            </div>
        }

</section>
